%title-text {
    color: white;
    font-family: 'Lobster', cursive;
}

%body-text {
    color: white;
    font-family: 'Staatliches', cursive;
}

%sidebar-text {
    font-family: 'Contrail One', cursive;
}

body {
    @extend %body-text;
    font-size: 16px;
    background-color: slategray;
    margin: 0px;
}

h1 {
    @extend %title-text;
    font-size: 36px;
}
h2 {
    @extend %title-text;
    font-size: 24px;
}

footer {
    @extend %body-text;
    position: absolute;
    right: 36px;
    bottom: 36px;
}


a:link {
    color: royalblue;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: palevioletred;
}

country {
    @extend %sidebar-text;
    color: palevioletred;
    font-size: 14px;

}

sidebar {
    @extend %sidebar-text;
    color: skyblue;
    font-size: 16px;
}

name {
    @extend %title-text;
    font-size: 24px;
}

var {
    font-style: normal;
}

elnakka-text {
    font-family: 'Staatliches', cursive;
    font-size: 36px;
    color: white;
}

waldtal-text {
    font-family: 'Contrail One', cursive;
    font-size: 36px;
    color: white;
    text-shadow: true;
}

medals {
    @extend %sidebar-text;
    color: #8C8479;
}

doublediamond {
    @extend %sidebar-text;
    color: #9494a7;
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 230px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:  darkslategray;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px;
    padding-left: 10px;
  }
  
  .main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    position: relative;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;

    img{
        position: absolute;
        top: 0px;
        left: 0px;
    }
  }

  .map {
      width: 100%;
      height: auto;
      position: relative;

      img{
          position: absolute;
          width: 100%;
          height: auto;
      }
  }

  .controls {
      position: fixed;
      height: fit-content;
      width: fit-content;
      bottom: 0;
      right: 0;
      background-color: rgba($color: black, $alpha: 0.75);
      color: white;
      border-color: white;
      border-width: 2px;
      padding-left: 10px;
      padding-top: 5px;
  }

  button {
      background-color: darkslategray;
      color: white;
      border-style: none;
      outline-style: none;
      font-family: 'Staatliches', cursive;;
  }

  .inverse {
    background-color: white;
    color: darkslategray;
}

  button:hover {
      color: palevioletred;
  }

  .layers {
      z-index: 0;
      position: absolute;
      top: 0%;
      left: 0%;
      
  }


  .lb {
      @extend %sidebar-text;
      color: palevioletred;
        table {
          tr:nth-child(1) {
              @extend %sidebar-text;
              @extend medals
          }
          tr:nth-child(2) {
            @extend %sidebar-text;
              @extend doublediamond
          }
          tr:nth-child(3) {
            @extend %sidebar-text;
              color: rgb(158, 103, 77);
          }
      }
  }

  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track-piece {
    background: rgba($color: #000000, $alpha: 0);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba($color: darkslategray, $alpha: 0.75);
    border-radius: 10px;
  }
